mixin header(items, userStatus, userName, menuType)
  div.header
    include ../menu/menu.pug
    include ../button/button.pug

    div.header__toxin-wrapper
      include ../toxin/Logo.svg

    div.header__menu-wrapper
      +menu(items, menuType)

    if userStatus === "undefined"
      div.header__button-login-wrapper
        +button({buttonType: 'login', buttonName: 'login', link: 'true'})
      div.header__button-register-wrapper
        +button({buttonType: 'register', buttonName: 'register', link: 'true'})
    else
      div.header__vertical-line-wrapper
        div.vertical-line
      div.header__user-name-wrapper
        div.user-name= userName


