mixin email(options)

  - var inputClassName = "form-email__input"
  - var iconClassName = "form-email__material-icons"

  - inputClassName += options.inputPosition ? " form-email__input_position" : ""
  - iconClassName += options.iconPosition ? " form-email__material-icons_position" : ""

  form(class="form-email" name="email" action="url")
    input(class=inputClassName type="email" placeholder="Your email address")
    span(class=iconClassName)= '\u{1f862}'
