mixin menu(items)
  include ../dropdown/dropdown.pug
  - var className = "menu__item"
  ul.menu
    each item in items
      if item["dropdown"] === 'true' 
        +dropdown({dropdownName: 'Services'})
      if item["itemStyle"]
        - className += " menu__item_style_" + item["itemStyle"]

      li(class=className)= item["itemName"]
