mixin menu(items)
  include ../dropdown/dropdown.pug
  - var className = "menu__item"
  ul.menu
    each item in items
      if item["itemStyle"]
        - className += " menu__item_style_" + item["itemStyle"]
      else
        - className = "menu__item"

      if item["dropdown"] === 'true' 
        li(class=className)
          +dropdown({dropdownName: 'Services'})
      else
        li(class=className)= item["itemName"]
