mixin menu(items)
  include ../dropdown/dropdown.pug
  - var className = "menu__item"
  ul.menu
    each item in items
      if item["itemStyle"]
        - className += " menu__item_style_" + item["itemStyle"]

      if item["itemMargin"]
        - className += " menu__item_margin_" + item["itemMargin"]

      if item["dropdown"] === 'true' 
        li(class=className)
          +dropdown({dropdownName: 'Services'})
      else
        li(class=className)= item["itemName"]

      - className = "menu__item"
