.button {
  font-family: 'Montserrat';
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: 15px;
  text-transform: uppercase;
  border-radius: 22px;
}
//CONVERT ALL IN PERCENT
.button-border-gradient {
  padding: 2px;
  max-width: 79px;
  height: 34px;
  border-radius: 22px;
  text-align: center;
  background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.button_button-type_login {
  vertical-align: middle;
  padding: 9px 19px;
  color: #BC9CFF;
  background-color: #FFFFFF;
  border: none;
}

.button_button-type_register {
  padding: 9px 19px;
  color: #FFFFFF;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border: none;
}
