mixin button(options)
  -var buttonClass = "form-button__button"

  if options.buttonType
    -buttonClass += " form-button__button_button-type_" + options.buttonType

    if options.buttonType == 'login'
      form(class="form-button" name="login-button" action="url")
      div.form-button__button-border-gradient
        button(class=buttonClass)=options.buttonName
    else
      form(class="form-button" name="register-button" action="url")
        button(class=buttonClass)=options.buttonName

