@import './dropdown-li/dropdown-li.scss';

.dropdown-look {
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-around;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 20px;
}

.dropdown-look__name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
  align-items: center;
  margin-right: 10px;
}


.dropdown-list {
  visibility: hidden;
}

.dropdown-look:hover .dropdown-list {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  visibility: visible;
  list-style: none;
}

.dropdown-arrow {
  width: 6px;
  height: 6px;
  border-top: 2px solid rgba(31, 32, 65, 0.5);
  border-right: 2px solid rgba(31, 32, 65, 0.5);
  transform: rotate(135deg);
}

//REALIZATION EXPAND_MORE WITH HELP OF CSS
//.dropdown-arrow {
  //display: flex;
  //width: 24px;
  //align-items: center;
  //justify-content: center;
  //border: 1px solid black;
//}

//.dropdown-arrow__item {
  //width: 6px;
  //height: 6px;
  //border-top: 2px solid rgba(31, 32, 65, 0.5);
  //border-right: 2px solid rgba(31, 32, 65, 0.5);
  //transform: rotate(135deg);
//}


