.dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-look {
  height: 21px;
  white-space: nowrap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-right: 5px; 
  color: rgba(31, 32, 65, 0.5);
}

.dropdown-name {
  //width: calc(56 / 80 * 100%);
  display: inline-block;
  margin-right: 5px;
}

.dropdown-arrow {
  //width: calc(24 / 80 * 100%);
  display: inline-block;
  text-align: center;
  //border: 1px solid black;
}

.dropdown {
  height: 15px;
  visibility: hidden;
}

.dropdown-look:hover .dropdown {
  visibility: visible;
  height: 100%;
}
