@import '../../blocks/header/header.scss';

.headers-and-footers {
  width: 1440px;
  height: 1350px;
  //border: 1px solid black;
}

.template-page__header-wrapper {
  width: 1440px;
  height: 70px;
  margin-top: 176px;
}
