extends ../../templates/template.pug

block vars
  - var pageClassName = "headers-and-footers"

block content
  include ../../blocks/header/header.pug
  - var userStatus = "undefined";
  - var userName = "Cosmin Negoita"
  -
    var itemsUndefined = [
      { "itemName": 'Home', "itemStyle": 'bold'},
      { "itemName": 'About Us'},
      { "dropdown": 'true', "itemMargin": 'other-margin'},
      { "itemName": 'Careers'},
      { "itemName": 'News'},
      { "itemName": 'Documentation', "itemMargin": 'no-margin'}
    ]
  -
    var itemsDefined = [
      { "itemName": 'Home', "itemMargin": 'margin-28', "itemStyle": 'bold'},
      { "itemName": 'About Us', "itemMargin": 'margin-28'},
      { "dropdown": 'true', "itemMargin": 'other-margin'},
      { "itemName": 'Careers', "itemMargin": 'margin-29'},
      { "itemName": 'News', "itemMargin": 'margin-29'},
      { "itemName": 'Documentation', "itemMargin": 'no-margin'}
    ]

  div.headers-and-footers__header-undefined
    +header(itemsUndefined, userStatus = "undefined")

  div.headers-and-footers__header-defined
    +header(itemsDefined, userStatus = "defined", userName)
