extends ../../templates/template.pug

block vars
  - var pageClassName = "headers-and-footers"

block content
  include ../../blocks/header/header.pug
  include ../../blocks/footer/footer.pug
  - var userStatus = "undefined"
  - var userName = "Cosmin Negoita"
  - var menuType
  - var copyrightBar
  - var footerType
  -
    var itemsUndefined = [
      { "itemName": 'Home', "linkStyle": 'bold', "itemMargin": 'margin-30'},
      { "itemName": 'About Us', "itemMargin": 'margin-30'},
      { "itemName": 'Services', "itemMargin": 'margin-20', "dropdown": 'true'},
      { "itemName": 'Careers', "itemMargin": 'margin-30'},
      { "itemName": 'News', "itemMargin": 'margin-30'},
      { "itemName": 'Documentation', "itemMargin": 'no-margin'}
    ]
  -
    var itemsDefined = [
      { "itemName": 'Home', "itemMargin": 'margin-28', "linkStyle": 'bold'},
      { "itemName": 'About Us', "itemMargin": 'margin-28'},
      { "itemName": 'Services', "itemMargin": 'margin-20', "dropdown": 'true'},
      { "itemName": 'Careers', "itemMargin": 'margin-29'},
      { "itemName": 'News', "itemMargin": 'margin-29'},
      { "itemName": 'Documentation', "itemMargin": 'no-margin'}
    ]
  -
    var menuNavigation = [
      {"itemName": 'Navigation', "itemMargin": 'margin-21', "linkStyle": 'menu-title'},
      {"itemName": 'About Us'},
      {"itemName": 'News'},
      {"itemName": 'Support'},
      {"itemName": 'Products'}
    ]
  -
    var menuAboutUs = [
      {"itemName": 'About Us', "itemMargin": 'margin-21', "linkStyle": 'menu-title'},
      {"itemName": 'Who we are'},
      {"itemName": 'Our team'},
      {"itemName": 'Careers'},
      {"itemName": 'Investors'}
    ]
  -
    var menuSupport = [
      {"itemName": 'Support', "itemMargin": 'margin-21', "linkStyle": 'menu-title'},
      {"itemName": 'Documentation'},
      {"itemName": 'Community'},
      {"itemName": 'Get in Touch'}
    ]
  -
    var textLorem = {
      "textMargin": '20',
      "textStyle": 'multiline',
      "text": 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cocils.'
    }
  -
    var textSubscribe = {
      "textStyle": 'menu-title',
      "text": 'Subsribe to our newsletter'
    }
  -
    var textSubscribeDescription = {
      "textStyle": 'multiline',
      "text": 'Receive our latest news and promotions in your inbox!'
    }

  - var textsFooter = [textLorem, textSubscribe, textSubscribeDescription]

  div.headers-and-footers__header-undefined
    +header(itemsUndefined, "undefined", "menu-header")

  div.headers-and-footers__header-defined
    +header(itemsDefined, "defined", userName, "menu-header")

  div.headers-and-footers__footer-widgets-copyright-bar-wrapper
    +footer("widgets-and-copyright", textsFooter, menuNavigation, menuAboutUs, menuSupport, "menu-footer")

  div.headers-and-footers__footer-creative-wrapper
    +footer("creative")
