@import '../../blocks/header/header.scss';

.headers-and-footers {
  display: flex;
  width: 1440px;
  height: 900px;
  background: #E5E5E5;
}

.headers-and-footers__header-undefined {
  position: absolute;
  width: 1440px;
  height: 70px;
  margin-top: 150px;
}

.headers-and-footers__header-defined {
  position: absolute;
  width: 1440px;
  height: 70px;
  margin-top: 260px;
}
