@charset "UTF-8";
@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/Quicksand/Quicksand-Regular.eot");
  src: local("☺"), url("../fonts/Quicksand/Quicksand-Regular.woff") format("woff"), url("../fonts/Quicksand/Quicksand-Regular.ttf") format("truetype"), url("../fonts/Quicksand/Quicksand-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/Quicksand-bold/quicksand-bold.eot");
  src: local("☺"), url("../fonts/Quicksand/quicksand-bold.woff") format("woff"), url("../fonts/Quicksand/quicksand-bold.ttf") format("truetype"), url("../fonts/Quicksand/quicksand-bold.svg") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/MontserratRegular.eot");
  src: local("☺"), url("../fonts/Montserrat/MontserratRegular.woff") format("woff"), url("../fonts/Montserrat/MontserratRegular.ttf") format("truetype"), url("../fonts/Montserrat/MontserratRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-bold/MontserratBold.eot");
  src: local("☺"), url("../fonts/Montserrat-bold/MontserratBold.woff") format("woff"), url("../fonts/Montserrat-bold/MontserratBold.ttf") format("truetype"), url("../fonts/Montserrat-bold/MontserratBold.svg") format("svg");
  font-weight: bold;
  font-style: normal; }

.colors-and-type {
  width: 1440px;
  height: 900px;
  position: relative;
  border: 2px solid black; }

.logo {
  width: 48px;
  height: 48px; }

.position-logo {
  position: absolute;
  top: 30px;
  left: 30px; }

.position-figures {
  position: absolute; }

.logo__circle {
  width: 48px;
  height: 48px;
  top: 0px;
  left: 0px; }

.logo__line-1 {
  width: 15px;
  height: 15px;
  top: 18.35px;
  left: 11.29px; }

.logo__line-2 {
  width: 12px;
  height: 8px;
  top: 18.35px;
  left: 25.77px; }

.colors {
  position: absolute;
  top: 0px;
  left: 0px; }

.colors__color-item {
  width: 70px;
  height: 70px;
  border-radius: 6px; }

.colors__text-item {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  color: #1F2041; }

.color {
  position: absolute;
  left: 150px; }

.colors__color-item_color-1 {
  top: 145px;
  background: #1F2041; }

.colors__color-item_color-2 {
  top: 235px;
  background: rgba(31, 32, 65, 0.75); }

.colors__color-item_color-3 {
  top: 325px;
  background: rgba(31, 32, 65, 0.5); }

.colors__color-item_color-4 {
  top: 415px;
  background: rgba(31, 32, 65, 0.25); }

.colors__color-item_color-5 {
  top: 505px;
  background: rgba(31, 32, 65, 0.05); }

.colors__color-item_color-6 {
  top: 595px;
  background: #BC9CFF; }

.colors__color-item_color-7 {
  top: 685px;
  background: #6FCF97; }

.text-position {
  position: absolute;
  left: 260px; }

.text-mix {
  font-family: 'Quicksand', sans-serif;
  font-size: 19px;
  line-height: 29px;
  font-style: normal; }

.colors__color-title {
  font-weight: bold; }

.colors__color-code {
  font-weight: normal; }

.colors__text-item_text-1 {
  width: 159px;
  height: 57px;
  top: 152px; }

.colors__text-item_text-2 {
  width: 150px;
  height: 57px;
  top: 242px; }

.colors__text-item_text-3 {
  width: 151px;
  height: 57px;
  top: 332px; }

.colors__text-item_text-4 {
  width: 149px;
  height: 57px;
  top: 422px; }

.colors__text-item_text-5 {
  width: 139px;
  height: 58px;
  top: 511px; }

.colors__text-item_text-6 {
  width: 82px;
  height: 58px;
  top: 601px; }

.colors__text-item_text-7 {
  width: 77px;
  height: 57px;
  top: 692px; }

.colors__text-item_no-bold {
  font-weight: normal; }

.tags {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: calc(403 / 1440 * 100%);
  height: calc(321 / 900 * 100%);
  max-width: 403px;
  /*the width of this block in layout*/
  max-height: 321px;
  /*the height of this block in layout*/
  margin-top: calc(145 / 900 * 100%);
  margin-left: calc(846 / 1440 * 100%);
  /*margin-top: 16%;
  margin-left: 58.75%;
  width: 28%;
  height: 35.7%;*/ }

.tag {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400; }

.tag__tag-name {
  max-width: calc(37 / 403 * 100%);
  min-width: calc(37 / 403 * 100%);
  text-align: right;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.25); }

.tag__tag-description {
  max-width: calc(336 / 403 * 100%);
  min-width: calc(336 / 403 * 100%);
  color: #1F2041; }

.tag_size_size-h1 {
  font-size: 24px;
  line-height: 30px; }

.tag_size_size-h2 {
  font-size: 19px;
  line-height: 24px; }

.tag_size_size-h3 {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase; }

.tag_size_size-body {
  font-size: 14px;
  line-height: 24px; }

.tag__tag-description_font_quicksand {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 600; }

.tag__tag-description_opacity_high {
  color: rgba(31, 32, 65, 0.75); }

.tag__tag-name_transform_none {
  text-transform: none; }

.tag__tag-description_weight_bold {
  font-style: normal;
  font-weight: bold; }
