@charset "UTF-8";
@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/Quicksand-Regular/Quicksand-Regular.eot");
  src: local("☺"), url("../fonts/Quicksand-Regular/Quicksand-Regular.woff") format("woff"), url("../fonts/Quicksand-Regular/Quicksand-Regular.ttf") format("truetype"), url("../fonts/Quicksand-Regular/Quicksand-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/Quicksand-Bold/Quicksand-Bold.eot");
  src: local("☺"), url("../fonts/Quicksand-Bold/Quicksand-Bold.woff") format("woff"), url("../fonts/Quicksand-Bold/Quicksand-Bold.ttf") format("truetype"), url("../fonts/Quicksand-Bold/Quicksand-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/MontserratRegular.eot");
  src: local("☺"), url("../fonts/Montserrat/MontserratRegular.woff") format("woff"), url("../fonts/Montserrat/MontserratRegular.ttf") format("truetype"), url("../fonts/Montserrat/MontserratRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-bold/MontserratBold.eot");
  src: local("☺"), url("../fonts/Montserrat-bold/MontserratBold.woff") format("woff"), url("../fonts/Montserrat-bold/MontserratBold.ttf") format("truetype"), url("../fonts/Montserrat-bold/MontserratBold.svg") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Material-Icons';
  src: url("../fonts/Material-Icons/MaterialIcons-Regular.eot");
  src: local("☺"), url("../fonts/Material-Icons/MaterialIcons-Regular.woff2") format("woff2"), url("../fonts/Material-Icons/MaterialIcons-Regular.woff") format("woff"), url("../fonts/Material-Icons/MaterialIcons-Regular.ttf") format("truetype"), url("../fonts/Material-Icons/MaterialIcons-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.colors-and-type {
  width: 1440px;
  height: 900px;
  display: flex;
  border: 1px solid black; }

.headers-and-footers {
  width: 1440px;
  height: 1350px;
  border: 1px solid black; }

.logo-wrapper {
  display: flex;
  width: calc(108 / 1440 * 100%);
  height: calc(108 / 900 * 100%); }

.colors-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: calc(269.26 / 1440 * 100%);
  height: calc(610 / 900 * 100%);
  margin-top: calc(145 / 1440 * 100%);
  margin-left: calc(41.74 / 1440 * 100%); }

.tags-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: calc(403 / 1440 * 100%);
  height: calc(321 / 900 * 100%);
  margin-top: calc(145 / 1440 * 100%);
  margin-left: calc(437 / 1440 * 100%); }

.logo {
  margin: auto; }

.color-block {
  flex: 0 0 100%;
  height: calc(70 / 610 * 100%);
  display: flex;
  justify-content: space-between; }

.color-block__color-square {
  flex: 0 0 calc(70 / 269.26 * 100%);
  height: 100%;
  border-radius: 6px;
  background-color: #1F2041; }

.color-description {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 calc(159 / 269.26 * 100%);
  height: 100%;
  align-items: center;
  font-family: 'Quicksand';
  font-size: 19px;
  line-height: 29px;
  font-style: normal;
  font-weight: normal; }

.color-description__color-name {
  width: 159px;
  flex: 0 1 100%;
  max-width: 100%;
  font-weight: bold; }

.color-description__color-hex {
  flex: 0 0 100%; }

.color-block__color-square_color_dark-75 {
  background-color: rgba(31, 32, 65, 0.75); }

.color-block__color-square_color_dark-50 {
  background-color: rgba(31, 32, 65, 0.5); }

.color-block__color-square_color_dark-25 {
  background-color: rgba(31, 32, 65, 0.25); }

.color-block__color-square_color_dark-5 {
  background-color: rgba(31, 32, 65, 0.05); }

.color-block__color-square_color_purple {
  background-color: #BC9CFF; }

.color-block__color-square_color_green {
  background-color: #6FCF97; }

.tag {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400; }

.tag__tag-name {
  max-width: calc(37 / 403 * 100%);
  min-width: calc(37 / 403 * 100%);
  text-align: right;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.25); }

.tag__tag-description {
  max-width: calc(336 / 403 * 100%);
  min-width: calc(336 / 403 * 100%);
  color: #1F2041; }

.tag_size_size-h1 {
  font-size: 24px;
  line-height: 30px; }

.tag_size_size-h2 {
  font-size: 19px;
  line-height: 24px; }

.tag_size_size-h3 {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase; }

.tag_size_size-body {
  font-size: 14px;
  line-height: 24px; }

.tag__tag-description_font_quicksand {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 600; }

.tag__tag-description_opacity_high {
  color: rgba(31, 32, 65, 0.75); }

.tag__tag-name_transform_none {
  text-transform: none; }

.tag__tag-description_weight_bold {
  font-style: normal;
  font-weight: bold; }

.form-button__button {
  font-family: 'Montserrat';
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: 15px;
  text-transform: uppercase;
  border-radius: 22px; }

.form-button__button-border-gradient {
  padding: 2px;
  max-width: 79px;
  height: 34px;
  border-radius: 22px;
  text-align: center;
  background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }

.form-button__button_button-type_login {
  vertical-align: middle;
  padding: 9px 19px;
  color: #BC9CFF;
  background-color: #FFFFFF;
  border: none; }

.form-button__button_button-type_register {
  padding: 9px 19px;
  color: #FFFFFF;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border: none; }

.dropdown-list__item {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5); }

.dropdown-look {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 20px; }

.dropdown-look__name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
  align-items: center;
  margin-right: 10px; }

.dropdown-list {
  visibility: hidden; }

.dropdown-look:hover .dropdown-list {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  visibility: visible;
  list-style: none; }

.dropdown-arrow {
  width: 6px;
  height: 6px;
  border-top: 2px solid rgba(31, 32, 65, 0.5);
  border-right: 2px solid rgba(31, 32, 65, 0.5);
  transform: rotate(135deg); }

.form-email {
  width: 260px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px; }

.form-email__input {
  width: 134px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px; }

.form-email__input_position {
  margin-top: 12px;
  margin-bottom: 8px;
  margin-left: 15px; }

.form-email__material-icons {
  display: inline-block;
  font-family: 'Material-Icons';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #8BA4F9;
  background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.form-email__material-icons_position {
  margin-left: 65px; }
