@import '../blocks/logo/logo.scss';

/*@mixin logo-wrapper($height-value) {
  @if ($height-value == 1853px) {
    display: flex;
    width: calc(108 / 1440 * 100%);
    height: calc(108 / 1853 * 100%);
  }
  @if ($height-value == 1350px) {
    display: flex;
    width: calc(108 / 1440 * 100%);
    height: calc(108 / 1350 * 100%);
  }
  @if ($height-value == 900px) {
    display: flex;
    width: calc(108 / 1440 * 100%);
    height: calc(108 / 900 * 100%);
  }
}*/

.logo-wrapper {
  display: flex;
  width: calc(108 / 1440 * 100%);
  height: calc(108 / 1350 * 100%);
}


/*.template-page {
  display: flex;
  position: relative;
  width: 1440px;
  height: 900px;
  background: #E5E5E5;
  border: 1px solid rgb(31, 32, 65);
}

.template-page:first-child {
  background: #FFFFFF;
}

.template-page__logo-wrapper {
  display: flex;
  width: calc(108 / 1440 * 100%);
  height: calc(108 / 900 * 100%);
  //justify-content: center;
  //align-content: center;
}*/
