include ../ui_kit/pages/colors-and-type/colors-and-type.pug
include ../iu_kit/pages/headers-and-footers/headers-and-footers.pug
//include ../pages/form-elements/form-elements.pug

//include ../templates/template-1.pug
//doctype html
//html(lang="en")
//  head
//    meta(charset="utf-8")
//    meta(name="viewport" content="width=device-width, initial-scale=1")
//    link(rel="stylesheet", href="../css/style.css")
//    title= "Task-2 UI-kit"
//  body
//    include ../pages/colors-and-type/colors-and-type.pug
//    include ../pages/headers-and-footers/headers-and-footers.pug
