/*@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
}*/

.text-field__input {
  padding-left: 15px;
  height: 44px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}

.text-field__input::placeholder {
  color: #1F2041; 
  opacity: 0.25;
}

.text-field__input::-webkit-input-placeholder { color: #1F2041; opacity: 0.25; }
.text-field__input:-moz-placeholder { color: #1F2041; opacity: 0.25;}
.text-field__input::-moz-placeholder { color: #1F2041; opacity: 0.25;}
.text-field__input:-ms-input-placeholder { color: #1F2041; opacity: 0.25;}

.text-field__input_hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.text-field__input_hover::placeholder {
  color: #1F2041; 
  opacity: 0.75;
}

.text-field__input_hover::-webkit-input-placeholder { color: #1F2041; opacity: 0.75; }
.text-field__input_hover:-moz-placeholder { color: #1F2041; opacity: 0.75;}
.text-field__input_hover::-moz-placeholder { color: #1F2041; opacity: 0.75;}
.text-field__input_hover:-ms-input-placeholder { color: #1F2041; opacity: 0.75;}

.text-field__input:hover::placeholder {
  color: #1F2041; 
  opacity: 0.5;
}

.text-field__input:hover::-webkit-input-placeholder { color: #1F2041; opacity: 0.75; }
.text-field__input:hover  :-moz-placeholder { color: #1F2041; opacity: 0.75;}
.text-field__input:hover::-moz-placeholder { color: #1F2041; opacity: 0.75;}
.text-field__input:hover:-ms-input-placeholder { color: #1F2041; opacity: 0.75;}

.text-field__input:focus::placeholder {
  color: #1F2041; 
  opacity: 0.5;
}

.text-field__input:focus::-webkit-input-placeholder { color: #1F2041; opacity: 0.75; }
.text-field__input:focus:-moz-placeholder { color: #1F2041; opacity: 0.75;}
.text-field__input:focus::-moz-placeholder { color: #1F2041; opacity: 0.75;}
.text-field__input:focus:-ms-input-placeholder { color: #1F2041; opacity: 0.75;}

.text-field {
  //border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  //border-radius: 4px;
  display: flex;
  flex-direction: column;
  //align-items: center;
}

.text-field_subscription {
  //font-family: 'Montserrat';
  //font-style: normal;
  //font-weight: normal;
  //font-size: 14px;
  //display: flex;
  //align-items: center;
  justify-content: center;
  width: 260px;
  //height: 44px;
}

.text-field label {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

.text-field__icon-button-wrapper {
  position: absolute;
  margin-left: 215px;
  width: 44px;
  height: 44px;
  display: flex;
  //align-items: center;
  justify-content: center;
}

.text-field__icon-button {
  display: inline-block;
  //align-self: center;
  font-family: 'Material-Icons';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  border: none;
  color: #8BA4F9;
  background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

