/*@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
}*/

.text-field {
  //border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  //border-radius: 4px;
  display: flex;
  flex-direction: column;
  //align-items: center;
}

/*.text-field_type_ordinary {
  width: 320px;
}

.text-field_type_subscription {
  width: 267px;
}

.text-field_type_footer {
  width: 260px;
}*/

.text-field__input {
  padding-left: 15px;
  height: 44px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  //border: none;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}

/*.text-field_hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.text-field__email-input_hover::placeholder {
  color: #1F2041;
  opacity: 0.75;
}*/

/*.text-field_hover:hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.text-field_hover:hover .text-field__email-input_hover::placeholder {
  color: #1F2041;
  opacity: 0.75;
}*/

/*.text-field-block__inscription-wrapper {
  margin-bottom: 5px;
}*/

/*.text-field__inscription {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}*/

.text-field_subscription {
  //font-family: 'Montserrat';
  //font-style: normal;
  //font-weight: normal;
  //font-size: 14px;
  //display: flex;
  //align-items: center;
  justify-content: center;
  width: 260px;
  //height: 44px;
}

.text-field label {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

.text-field__icon-button-wrapper {
  position: absolute;
  margin-left: 215px;
  width: 44px;
  height: 44px;
  display: flex;
  //align-items: center;
  justify-content: center;
}

.text-field__icon-button {
  display: inline-block;
  //align-self: center;
  font-family: 'Material-Icons';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  border: none;
  color: #8BA4F9;
  background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

