mixin footer(footerType, textsFooter, menuNavigation, menuAboutUs, menuSupport, menuType)

  include ../copyright-bar/copyright-bar.pug
    
  ////- console.log(footerType)
  //- console.log(menuType)
  //- console.log(textsFooter)

  if (footerType === "widgets-and-copyright")
    div.footer-widgets
      div.footer-widgets__toxin-and-text-wrapper
        include ../toxin/Logo.svg
        include ../text/text.pug
        + text(textsFooter[0])

      div.footer-widgets__navigation-menu-wrapper
        include ../menu/menu.pug
        + menu(menuNavigation, menuType)

      div.footer-widgets__about-us-menu-wrapper
        include ../menu/menu.pug
        + menu(menuAboutUs, menuType)

      div.footer-widgets__support-menu-wrapper
        include ../menu/menu.pug
        + menu(menuSupport, menuType)

      div.footer-widgets__email-and-description-wrapper
        include ../text/text.pug
        + text(textsFooter[1])
        include ../text/text.pug
        + text(textsFooter[2])
        //include ../subscription-text-field/subscription-text-field.pug
        //+ subscription-text-field({placeholderText: 'Your email address'})
        include ../text-field/text-field.pug
        //+ text-field({inputPosition: true, iconPosition: true})
        //+ text-field({textFieldType: 'footer', placeholderText: 'Your email address'})
        + text-field({placeholderText: 'Your email address', subscription: 'true', inputType: 'email'})

      div.footer-widgets__copyright-bar-wrapper
        + copyrightBarBlock({copyBarDirection: 'gorizontal'})
          
  else if (footerType === "creative")
    div.footer-creative
      div.footer-creative__toxin-wrapper
        include ../toxin/Logo.svg

      div.footer-creative__copyright-bar-wrapper
        + copyrightBarBlock({copyBarDirection: 'vertical'})
