.form-email {
  width: 260px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px; }

.form-email__input {
  width: 134px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px; }

.form-email__input_position {
  margin-top: 12px;
  margin-bottom: 8px;
  margin-left: 15px; }

.form-email__material-icons {
  display: inline-block;
  font-family: 'Material-Icons';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #8BA4F9;
  background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.form-email__material-icons_position {
  margin-left: 65px; }

.footer {
  display: flex;
  width: 1440px;
  height: 443px;
  background: #FFFFFF;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1); }

.footer__toxin-wrapper {
  margin-top: 100px;
  margin-left: 140px; }

.footer__toxin-wrapper .toxin {
  width: 115px;
  height: 46px; }

.footer__navigation-menu-wrapper {
  margin-top: 104px;
  margin-left: 180px; }

.footer__about-us-menu-wrapper {
  margin-top: 104px;
  margin-left: 57px; }

.footer__support-menu-wrapper {
  margin-top: 104px;
  margin-left: 92px; }

.footer__text-lorem-wrapper {
  position: absolute;
  margin-top: 160px;
  margin-left: 140px; }

.footer__form-email-wrapper {
  position: absolute;
  margin-top: 208px;
  margin-left: 1040px; }

.footer__text-copyright-wrapper {
  position: absolute; }
