mixin text-item(textName, valueName, valueCode)
  div(class="colors__text-item text-position " + textName)
    span(class="colors__color-title text-mix")= valueName
    span(class="colors__color-code text-mix")= valueCode
