.logo {
	//min-width: calc(48 / 108 * 100%);
	//min-height: calc(48 / 108 * 100%);
  margin: auto;
}

.logo-wrapper {
  display: flex;
  width: calc(108 / 1440 * 100%);
  height: calc(108 / 900 * 100%);
}
