@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/Quicksand-Regular/Quicksand-Regular.eot');
	src: local('☺'), url('../fonts/Quicksand-Regular/Quicksand-Regular.woff') format('woff'), 
	url('../fonts/Quicksand-Regular/Quicksand-Regular.ttf') format('truetype'), 
  url('../fonts/Quicksand-Regular/Quicksand-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/Quicksand-Bold/Quicksand-Bold.eot');
	src: local('☺'), url('../fonts/Quicksand-Bold/Quicksand-Bold.woff') format('woff'), 
	url('../fonts/Quicksand-Bold/Quicksand-Bold.ttf') format('truetype'), 
  url('../fonts/Quicksand-Bold/Quicksand-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/MontserratRegular.eot');
	src: local('☺'), url('../fonts/Montserrat/MontserratRegular.woff') format('woff'), 
	url('../fonts/Montserrat/MontserratRegular.ttf') format('truetype'), 
  url('../fonts/Montserrat/MontserratRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-bold/MontserratBold.eot');
	src: local('☺'), url('../fonts/Montserrat-bold/MontserratBold.woff') format('woff'), 
	url('../fonts/Montserrat-bold/MontserratBold.ttf') format('truetype'), 
  url('../fonts/Montserrat-bold/MontserratBold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

.colors-and-type {
	width: 1440px;
	height: 900px;
  display: flex;
	border: 1px solid black;
}

.headers-and-footers {
  width: 1440px;
  height: 1350px;
	border: 1px solid black;
}

.logo-wrapper {
  display: flex;
  width: calc(108 / 1440 * 100%);
  height: calc(108 / 900 * 100%);
}

.colors-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: calc(269.26 / 1440 * 100%);
  height: calc(610 / 900 * 100%);
  margin-top: calc(145 / 1440 * 100%);
  margin-left: calc(41.74 / 1440 * 100%);
}

.tags-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: calc(403 / 1440 * 100%);
  height: calc(321 / 900 * 100%);
  //width: 403px;
  //height: 321px;
  //min/max-width. INPUT IT
  margin-top: calc(145 / 1440 * 100%);
  margin-left: calc(437 / 1440 * 100%);
}

@import '../blocks/logo/logo.scss';
@import '../blocks/colors/color.scss';
@import '../blocks/tags/tag.scss';
@import '../blocks/button/button.scss';
@import '../blocks/dropdown/dropdown.scss';

//the second way to center logo-block:
//
//.logo-wrapper {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}

