@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/Quicksand/Quicksand-Regular.eot');
	src: local('☺'), url('../fonts/Quicksand/Quicksand-Regular.woff') format('woff'), 
	url('../fonts/Quicksand/Quicksand-Regular.ttf') format('truetype'), url('../fonts/Quicksand/Quicksand-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


.colors-and-type {
	width: 1440px;
	height: 900px;
	position: relative;
	border: 2px solid black;
}

@import '../blocks/logo/logo.scss';
@import '../blocks/colors/colors.scss';
