doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="../css/style.css")
    title= "Task-2 UI-kit"
  body
    div.colors-and-type
      include ../blocks/logo/logo.pug
      include ../blocks/colors/colors.pug
      include ../blocks/tags/tags.pug

      //+tag('h1', 'This one is the sub-section or widget title')
      //+tag('h2', 'Next one is the item title inside widgets')
      //+tag('h3', 'this is a label or cta text')
      //+tag('Body', 'This is the body text which is used for most of the design, like para
      // graphs, lists, etc.')
      // write block Form Elements
      // write block Cards 
      // write block Headers & Footers
