doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="../css/style.css")
    title= "Task-2 UI-kit"
  body
    div.colors-and-type
      div.logo-wrapper
        include ../blocks/logo/logo.svg

      div.colors-wrapper
        include ../blocks/colors/color.pug

        +color-block({color: 'dark-100', colorName: 'Dark Shade 100%', colorHex: '#1F2041'})
        +color-block({color: 'dark-75', colorName: 'Dark Shade 75%', colorHex: '#1F2041'})
        +color-block({color: 'dark-50', colorName: 'Dark Shade 50%', colorHex: '#1F2041'})
        +color-block({color: 'dark-25', colorName: 'Dark Shade 25%', colorHex: '#1F2041'})
        +color-block({color: 'dark-5', colorName: 'Dark Shade 5%', colorHex: '#1F2041'})
        +color-block({color: 'purple', colorName: 'Purple', colorHex: '#BC9CFF'})
        +color-block({color: 'green', colorName: 'Green', colorHex: '#6FCF97'})

      div.tags-wrapper
        include ../blocks/tags/tag.pug
        - var items = { "itemName1": 'Home', "itemName2": 'About Us', "itemName3": 'Careers'};

        +tag({ tagName: 'h1', tagDescription: 'This one is the sub-section or widget title', size: 'size-h1', font: 'quicksand'})

        +tag({ tagName: 'h2', tagDescription: 'Next one is the item title inside widgets', size: 'size-h2', font: 'quicksand'})
        +tag({ tagName: 'h3', tagDescription: 'this is a label or cta text', size: 'size-h3', weight: 'bold'})

        +tag({ tagName: 'Body', tagDescription: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.', size: 'size-body', opacity: 'high', transform: 'none'})

    div.headers-and-footers
      include ../blocks/header-1/header-1.pug

      +header-1(items)
      //+header-1({items: ['Home', 'About Us', 'Careers', 'News', 'Documentation']})
        //include ../blocks/toxin/Logo.svg
        //
        //include ../blocks/button/button.pug
        //+ button({buttonType: 'login', buttonName: 'login'})
        //+ button({buttonType: 'register', buttonName: 'register'})
        //
        //include ../blocks/dropdown/dropdown.pug
        //+ dropdown({dropdownName: 'Services'})
        //
        //include ../blocks/dropdown-2/dropdown-2.pug
        //+dropdown({dropdownName: 'Services'})
        //
        //include ../blocks/email/email.pug
        //+ email({inputPosition: true, iconPosition: true})
        //
        //include ../blocks/menu/menu.pug
        //+ menu({})


          //div.logo-wrapper
        //include ../blocks/logo/logo.svg
        ////include ../blocks/button/button.pug
      //- var items = [{menuItemName: 'Home', menuItemStyle:'bold'}, {menuItemName: 'About Us', menuItemStyle:'other-margin'}, {menuItemName: 'Careers'}, {menuItemName: 'News'}, {menuItemName: 'Documentation', menuItemStyle:'no-margin'}]
       //- var items = {'item1': {'name':"Home"}, 'item2': {'name':"About Us", 'style':"other-margin"}, 'item3': {'name':"Careers"}};
