.text {
  width: 260px;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  color: rgba(31, 32, 65, 0.75);
  margin: 0;
}

.text_style_multiline {
  line-height: 24px;
}

.text_margin_20 {
  margin-top: 20px;
}

.text_style_menu-title {
  text-transform: uppercase;
  color: #1F2041;
  font-weight: bold;
  font-size: 12px;
  margin: 0;
}
