mixin text(textBlock)
  - var textClass = "text"

  if textBlock["textMargin"]
    - textClass += " text_margin_" + textBlock["textMargin"]

  if textBlock["textStyle"] || textBlock["multiline"] === 'true'
    - textClass += " text_style_" + textBlock["textStyle"]
    p(class=textClass)= textBlock["text"]

  if textBlock["quote"] === 'true'
    small(class=textClass)= textBlock["text"]
