@import '../../templates/template.scss';
@import '../../blocks/colors/color.scss';
@import '../../blocks/tags/tag.scss';

/*.colors-and-type {
	width: 1440px;
	height: 900px;
  display: flex;
	border: 1px solid black;
}*/

.template-page__colors-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: calc(269.26 / 1440 * 100%);
  height: calc(610 / 900 * 100%);
  margin-top: calc(145 / 1440 * 100%);
  margin-left: calc(41.74 / 1440 * 100%);
}

.template-page__tags-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: calc(403 / 1440 * 100%);
  height: calc(321 / 1440 * 100%);
  margin-top: calc(145 / 1440 * 100%);
  margin-left: calc(437 / 1440 * 100%);
}
