mixin header-1(options)
  div.header-1
    include ../menu/menu.pug
    include ../button/button.pug

    div.toxin-wrapper
      include ../toxin/Logo.svg

    div.menu-wrapper
      +menu(options)

    div.button-login-wrapper
      +button({buttonType: 'login', buttonName: 'login'})

    div.button-register-wrapper
      +button({buttonType: 'register', buttonName: 'register'})

  //ul.menu
    //each item in items
      //li= item
  //if options.menuItems
    //+menu([...items])

  //div.menu-wrapper
   //+menu({})

  //div.header-1
    div.toxin-wrapper
      include ../toxin/Logo.svg
  //div.button-login-wrapper
    //include ../menu/menu.pug
      include ../button/button.pug
      +button({buttonType: 'login', buttonName: 'login'})

  //div.button-register-wrapper
   //+button({buttonType: 'register', buttonName: 'register'})
