.colors {
	position: absolute;
	top: 0px;
	left: 0px;
}

@import './__color-item/colors__color-item.scss';
@import './__text-item/colors__text-item.scss';

.color {
	position: absolute;
	left: 150px;
}

.colors__color-item_color-1 {
	top: 145px;
	background: #1F2041;
}

.colors__color-item_color-2 {
	top: 235px;
	background: rgba(31, 32, 65, 0.75);
}

.colors__color-item_color-3 {
	top: 325px;
	background: rgba(31, 32, 65, 0.5);
}

.colors__color-item_color-4 {
	top: 415px;
	background: rgba(31, 32, 65, 0.25);
}

.colors__color-item_color-5 {
	top: 505px;
	background: rgba(31, 32, 65, 0.05);
}

.colors__color-item_color-6 {
	top: 595px;
	background: #BC9CFF;

}

.colors__color-item_color-7 {
	top: 685px;
	background: #6FCF97;

}

.text-position {
	position: absolute;
	left: 260px;
}

.text-mix {
	font-family: 'Quicksand', sans-serif;
	font-size: 19px;
	line-height: 29px;
	font-style: normal;
}

.colors__color-title {
	font-weight: bold;
}

.colors__color-code {
	font-weight: normal;
}

.colors__text-item_text-1 {
	width: 159px;
	height: 57px;
	top: 152px;
}

.colors__text-item_text-2 {
	width: 150px;
	height: 57px;
	top: 242px;
}

.colors__text-item_text-3 {
	width: 151px;
	height: 57px;
	top: 332px;
}

.colors__text-item_text-4 {
	width: 149px;
	height: 57px;
	top: 422px;
}

.colors__text-item_text-5 {
	width: 139px;
	height: 58px;
	top: 511px;
}

.colors__text-item_text-6 {
	width: 82px;
	height: 58px;
	top: 601px;
}

.colors__text-item_text-7 {
	width: 77px;
	height: 57px;
	top: 692px;
}

.colors__text-item_no-bold {
	font-weight: normal;
}
