div.colors
  include ./__color-item/colors__color-item.pug
  include ./__text-item/colors__text-item.pug

  +color-item("colors__color-item_color-1")
  +color-item("colors__color-item_color-2")
  +color-item("colors__color-item_color-3")
  +color-item("colors__color-item_color-4")
  +color-item("colors__color-item_color-5")
  +color-item("colors__color-item_color-6")
  +color-item("colors__color-item_color-7")

  +text-item("colors__text-item_text-1", 'Dark Shade 100%', '#1F2041')
  +text-item("colors__text-item_text-2", 'Dark Shade 75%', '#1F2041')
  +text-item("colors__text-item_text-3", 'Dark Shade 50%', '#1F2041')
  +text-item("colors__text-item_text-4", 'Dark Shade 25%', '#1F2041')
  +text-item("colors__text-item_text-5", 'Dark Shade 5%', '#1F2041')
  +text-item("colors__text-item_text-6", 'Purple', '#BC9CFF')
  +text-item("colors__text-item_text-7", 'Green', '#6FCF97')
